*{
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
  border: 1px solid hsl(217, 100%, 97%);
  border-radius: 50%;
  width: 35px;
  text-align: center;
}
h3{
  font-size: 1.7rem;
}
h4{
  font-size: 1.3rem;
}
p{
  font-size: 1rem;
}
body{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-rows: 100vh;
  height: 100%;
  background-color: hsl(206, 94%, 87%);
}
.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
aside{
  position: absolute;
  display: flex;
  z-index: 2;
  top: 5%;
  left: 23%;
  height: fit-content;
}
.textDiv{
  width: 50px;
}
.textDiv2{
  display: none;
}
nav{
  grid-area: nav;
  color: hsl(0, 0%, 100%);
}
section{
  grid-area: section;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 85px;
}
.desktopImg{
  display:none;
}
.mobileImg{
  width: 100vw;
}

form{
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  padding: 35px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

label{
  display: inline-block;
  font-size: 1.8rem;
  /* margin-bottom: 15px; */
  color: hsl(213, 96%, 18%);
}
input{
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsl(229, 24%, 87%);
  margin-top: 10px;
}
span{
  font-size: 1.2rem;
  display: inline-block;
  align-self: center;
}
button{
  width: 100px;
  height: 40px;
  padding: 15px;
  align-self: flex-end;
  border-radius: 5px;
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
}
.infoBtn{
  background-color: hsl(0, 0%, 100%);
  padding: 20px 30px;
  width: 100%;
  margin-top: 53px;
  display: flex;
  justify-content: flex-end;
}
.lbl{
  display: flex;
  margin: 0px;
  padding-top: 10px;
  justify-content: space-between;
}



/*PLANS STYLE*/
.planOptions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .plan h1{
  font-size: 3rem;
}
.plan */
.topDawg h1{
  font-size: 3rem;
}
.topDawg p{
  font-size: 1.8rem;
}
.planOptions div{
  border: 1px solid hsl(229, 24%, 87%);
  width: 100%;
  border-radius: 10px;
  height: fit-content;
  display: grid;
  grid-template-areas:
      "left text text text"
      "left price price price"
      "left price1 price1 price1"
      ;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  
}

.planOptions img{
  width: 30px;
  margin: 10px;
  grid-area: left;
}
.arcSpn{
  display: block;
  grid-area: price;
}
.advSpn{
  display: block;
  grid-area: price;
}
.proSpn{
  display: block;
  grid-area: price;
}
.arcSpn1{
  display: block;
  grid-area: price1;
}
.advSpn1{
  display: block;
  grid-area: price1;
}
.proSpn1{
  display: block;
  grid-area: price1;
}
.planOptions p{
  height: fit-content;
  font-size: 1.3rem;
  color: hsl(213, 96%, 18%);
  margin-top: 3px;
}
.planOptions span{
  color: hsl(231, 11%, 63%);
}
.check{
  background-color: hsl(213, 96%, 18%);
  width: 60px;
  height: 25px;
  border-radius: 50px;
  position: relative;
  transition: 0.2s;
  margin: 0px 20px;
}
.check::before{
  position: absolute;
  content: '';
  background-color: hsl(0, 0%, 100%);
  width:20px;
  height: 20px;
  border-radius: 50px;
  margin: 3px;
  transition: 0.2s ease;
}
input:checked + .check{
  background-color: hsl(213, 96%, 18%);
}
input:checked + .check::before{
  transform: translateX(35px);
}
.toggle{
  display: none;
}
.toggle_container {
  display: flex !important;
  align-content: center !important;
  align-items: center;
  margin: 0px;
}
.togglewrapper{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 24%, 87%);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 36px;
}

.togglewrapper p{
  display: inline;
  font-size: 1.7rem;
  color: hsl(231, 11%, 63%);
}
.togglewrapper div{
  display: inline;
}
.selectedBorder{
  border: 1px solid hsl(243, 100%, 62%) !important;
}
.unSelectedBorder{
  border: 1px solid hsl(231, 11%, 63%) !important;
}

/*PLANS STYLE*/


/*ADD ONS STYLE*/
.addOns{
  display: flex;
  height: fit-content;
}
.addOnsOptns p{
  margin: 0px !important;
  padding: 0px;
}
.optBox{
  border: 1px solid hsl(231, 11%, 63%);
  padding: 10px;
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.addOnsOptns{
  margin-top: 25px;
}
.optBox input{
  margin-top: 0px;
  margin-right: 10px;
}
.addOnsOptns :nth-child(2){
  margin: 20px 0px;
}
.online{
  height: 9%;
  width: 265px;
  position: absolute;
}
.storage{
  height: 9%;
  width: 265px;
  position: absolute;
}
.customize{
  height: 9%;
  width: 265px;
  position: absolute;
}
.btnsWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
}
/*ADD ONS STYLES*/

/*SUMMARY STYLES*/
.summary_tab{
  background-color:hsl(229, 24%, 87%);
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

.summary_tab a{
  font-size: 1.8rem;
  color: hsl(231, 11%, 63%);
}
.plan_tab{
  margin: 15px;
  display: flex;
  border-bottom: 1px solid hsl(231, 11%, 63%);
  justify-content: space-between;
}
.summary_container form{
  justify-content: initial;
}
.summary_container{
  height: 80vh;
}
.add_ons_tab{
  margin: 15px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
}
.add_ons_tab p{
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: hsl(231, 11%, 63%);
}
.add_ons_tab div{
  display: inline;
}
.add_ons_total{
  margin: 15px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
}
.add_ons_total div{
  display: inline;
}
.add_ons_total p{
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: hsl(231, 11%, 63%);
}
.total_price p{
  color: hsl(243, 100%, 62%);
}

/*SUMMARY STYLES*/

/*FINISHING UP*/
  .finish_container{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: fit-content;
      background-color: hsl(0, 0%, 100%);
      padding: 90px 25px;
      width: 80vw;
      margin-top: 20px;
    }
 .finish_container p{
      font-size: 1.2rem;
      color: hsl(231, 11%, 63%);
  }
 .finish_container h1{
      color: hsl(213, 96%, 18%);
  }
/*FINISHING UP*/



@media screen and (min-width: 1006px) {
  .desktopImg{
    display:block;
  }
  .mobileImg{
    display: none;
  }
  
  .container{
    display: grid;
    width: 60vw;
    height: fit-content;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    grid-template-areas: 
      "nav section section"
      "nav section section"
    ;
  }
  nav{
    grid-area: nav;
    color: hsl(0, 0%, 100%);
    margin: 20px;
    display: block;
  }
  section{
    grid-area: section;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    position: relative;
    top: 0px;
  }
  
  nav img{
    position:relative;
    width: 300px;
  }
  aside{
    position: absolute;
    z-index: 2;
    top: 21%;
    left: 23%;
    height: fit-content;
    display: block;
  }
  button{
    margin-top: 140px;
    width: 100px;
    height: 50px;
    padding: 15px;
    align-self: flex-end;
    border-radius: 5px;
    border: 1px solid hsl(213, 96%, 18%);
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
  }
  form{
    display: flex;
    flex-direction: column;
    height: 60%;
    margin-top: 40px;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
    box-shadow: none;
  }
  form div{
    margin-bottom: 20px;
  }
  .infoBtn{
    background-color: hsl(0, 0%, 100%);
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    display: flex;
  }
  .textDiv{
    margin-bottom: 20px;
    display: flex;
    height: 50px;
    width: fit-content;
    align-items: center;
  }
  .textDiv2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .setAlign{
    display: flex;
    flex-direction: column;
  }
 
  .lbl{
    display: flex;
    margin: 0px;
    justify-content: space-between;
    padding-top: 0px;
  }
  .info p{
    font-size: 1.4rem;
  }
  .topDawg p{
    font-size: 1.7rem;
  }
  .topDawg h1{
    font-size: 3.5rem;
  }
  
  
  /* PAGE TWO STYLING */
  .plan{
    height: 60%;
    display: flex;
  }
  .planOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .planOptions div{
    border: 1px solid hsl(229, 24%, 87%);
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    height: 120px;
    display: block;
    margin-top: 0px;
  }
  .planOptions div:nth-child(2){
    margin: 0px 10px;
  }
  .planOptions img{
    width: 30px;
    object-fit: contain;
    margin: 0px;
  }
  .arcSpn{
    display: block;
  }
  .planOptions p{
    margin-top:40px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: hsl(213, 96%, 18%);
  }
  .planOptions span{
    color: hsl(231, 11%, 63%);
  }
  .btnsWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
  }
  .btnsWrapper button{
    width: 120px;
    height: 45px;
    text-align: center;
  }
  .btnsWrapper :first-child{
    background-color: hsl(217, 100%, 97%);
    border: none;
    color: hsl(231, 11%, 63%);
  }
  .check{
    background-color: hsl(213, 96%, 18%);
    width: 60px;
    height: 25px;
    border-radius: 50px;
    position: relative;
    transition: 0.2s;
    margin: 0px 20px;
  }
  .check::before{
    position: absolute;
    content: '';
    background-color: hsl(0, 0%, 100%);
    width:20px;
    height: 20px;
    border-radius: 50px;
    margin: 3px;
    transition: 0.2s ease;
  }
  input:checked + .check{
    background-color: hsl(213, 96%, 18%);
  }
  input:checked + .check::before{
    transform: translateX(35px);
  }
  .toggle{
    display: none;
  }
  .toggle_container {
    display: flex !important;
    align-content: center !important;
    align-items: center;
    margin: 0px;
  }
  .togglewrapper{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(229, 24%, 87%);
    border-radius: 5px;
    margin-top: 0px;
    
  }
  
  .togglewrapper p{
    display: inline;
    font-size: 1.7rem;
    color: hsl(231, 11%, 63%);
  }
  .togglewrapper div{
    display: inline;
  }
  .selectedBorder{
    border: 1px solid hsl(243, 100%, 62%) !important;
  }
  .unSelectedBorder{
    border: 1px solid hsl(231, 11%, 63%) !important;
  }
  
  
  
  /* ADD-ONS STYLE */
    .addOns{
      display: flex;
      height: 60%;
    }
    .addOnsOptns{
      margin-top: 0px;
    }
    .addOnsOptns p{
      margin: 0px !important;
      padding: 0px;
    }
    .optBox{
      border: 1px solid hsl(231, 11%, 63%);
      padding: 10px;
      display: flex;
      height: 50px;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .optBox input{
      margin-top: 0px;
      margin-right: 10px;
    }
    .addOnsOptns :nth-child(2){
      margin: 20px 0px;
    }
    .online{
      height: 9%;
      width: 22%;
      position: absolute;
    }
    .storage{
      height: 9%;
      width: 22%;
      position: absolute;
    }
    .customize{
      height: 9%;
      width: 22%;
      position: absolute;
    }
     
  /* ADD-ONS STYLE */
  
  /* SUMMARY STYLES*/
    .summary_tab{
      background-color:hsl(229, 24%, 87%);
      height: fit-content;
      width: 100%;
      border-radius: 5px;
      margin-top: 0px;
    }
    .summary_tab a{
      font-size: 1.8rem;
      color: hsl(231, 11%, 63%);
    }
    .plan_tab{
      margin: 15px;
      display: flex;
      border-bottom: 1px solid hsl(231, 11%, 63%);
      justify-content: space-between;
    }
    .summary_container form{
      justify-content: initial;
      margin-top: 0px;
    }
    .add_ons_tab{
      margin: 15px 15px 0px 15px;
      display: flex;
      justify-content: space-between;
    }
    .add_ons_tab p{
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: hsl(231, 11%, 63%);
    }
    .add_ons_tab div{
      display: inline;
    }
    .add_ons_total{
      margin: 15px 15px 0px 15px;
      display: flex;
      justify-content: space-between;
    }
    .add_ons_total div{
      display: inline;
    }
    .add_ons_total p{
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: hsl(231, 11%, 63%);
    }
    .total_price p{
      color: hsl(243, 100%, 62%);
    }
    .summary_container{
      height: fit-content;
    }
  /* SUMMARY STYLES*/
  
  
  /* FINISHING UP STYLES*/
    .finish_container{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      height: fit-content;
      padding: 0px;
      width: 85%;
      margin-top: 0px;
    }
    
    .finish_container p{
      font-size: 1.5rem;
      color: hsl(231, 11%, 63%);
    }
    .finish_container h1{
      margin: 15px 0px 15px 0px;
      color: hsl(213, 96%, 18%);
    }
  /* FINISHING UP STYLES*/
  
  
};








